---
layout: layout.njk
locale: fr
permalink: '{% getPermalink locale, page.filePathStem, page.fileSlug %}'
title: Games
navactive: games
---

<p>Games list in FR</p>
<ul>
{% for game in collections.games_fr %}
<li>
	<img src="{{ (game.url+'thumbnail.png')|removelang }}">
	<a href="{{ game.url|url }}">{{ game.data.title }}</a>
</li>
{% endfor %}
</ul>
