---
layout: layout.njk
locale: en
permalink: '{% getPermalink locale, page.filePathStem, page.fileSlug %}'
title: UI Design
navactive: ui-design
---

<p>UI design page in EN</p>
<img src="{{ 'header.png'|selfurl }}">