---
layout: layout.njk
locale: jp
permalink: '{% getPermalink locale, page.filePathStem %}'
title: Test game
navactive: games
tags: game_jp
order: 1
---

<p>Test game in JP</p>
<img src="{{ 'thumbnail.png'|selfurl }}">