---
layout: layout.njk
locale: en
permalink: '{% getPermalink locale, page.filePathStem %}'
title: Test game
navactive: games
tags: game_en
order: 1
---

<p>Test game in EN</p>
<img src="{{ 'thumbnail.png'|selfurl }}">