---
layout: layout.njk
locale: fr
permalink: '{% getPermalink locale, page.filePathStem %}'
title: Test game
navactive: games
tags: game_fr
order: 1
---

<p>Test game in FR</p>
<img src="{{ 'thumbnail.png'|selfurl }}">