body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
    display: flex;
    line-height: 2rem;
    background: #ececec;
}

header a {
    color: #2196f3;
}

li.active > a {
    color: #ff5722;
    font-weight: bold;
}